{% load i18n %}
<div class="product-item">
    <a href="{{ product.get_absolute_url }}"><img src="{{ product.image_url|default_if_none:'http://via.placeholder.com/270x270' }}"></a>
    <div class="product-list">
    <h3>{{ product.title }}</h3>
        {% if product.in_stock %}
            {% if product.discount %}
                <div class="price-wrap">
                    <span class="price discount">₽ {{ product.price }}</span>
                </div>
                <span class="price">₽ {{ product.get_price }}</span>
            {% else %}
                <span class="price">₽ {{ product.get_price }}</span>
            {% endif %}
            <a href="{% url "shoppingcart:add-product" %}" class="button" data-id_="{{ product.id }}" data-slug="{{ product.slug }}">{% trans "Add to cart" %}</a>
        {% else %}
                <p>{% trans "not available" %}</p>
                <a class="notifyme" href="{% url "add-reminder" %}" data-product="{{ product.id }}">{% trans "Notify me when available!" %}</a>
        {% endif %}
    </div>
</div>