{% extends "onlineshop/base.html" %}
{% load static %}
{% load i18n %}


{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static "shoppingcart/cart_styles.css" %}">
{% endblock styles %}
{% block content %}
<div class="shopping-cart-wrapper">
{% if request.user.is_authenticated %}
<a class="order-history" href="{% url 'order-history' %}">{% trans "Your order history" %}</a>
{% endif %}
{% include "shoppingcart/_cart_detail.html" %}
<a class="place-order" href="{% url "orders:place-order" %}">Place Order</a>
</div>
{% endblock content %}

{% block js_scripts %}
{{ block.super }}
<script src="{% static "shoppingcart/shoppingcart.js" %}"></script>
{% endblock js_scripts %}