{% extends "onlineshop/base.html" %}
{% load static %}
{% load i18n %}


{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static "shoppingcart/cart_styles.css" %}">
{% endblock styles %}
{% block content %}
{% include "shoppingcart/_cart_detail.html" %}
<a href="{% if request.user.is_authenticated %}{% url "orders:place-order" %}{% else %}{% url "orders:check-email" %}{% endif %}">Place Order</a>
{% endblock content %}

{% block js_scripts %}
{{ block.super }}
<script src="{% static "shoppingcart/shoppingcart.js" %}"></script>
{% endblock js_scripts %}